// ----------------------------------------------------------- Events

.events {
	.hero-image {
		@media (max-width: @screen-md-max) {
			margin-left: -@grid-gutter-width/1.5;
			margin-right: -@grid-gutter-width/1.5;
		}
	}
}

.upcoming-events {
	h2 {
		background-color: #fff;
		border-top: none !important;
		font-size: 30px;
	}
	h3 {
		font-size: 34px;
		color: #ddd;
		background: #fff;
		z-index: 999999;
		display: block;
		position: relative;
		margin:0;
		padding: @grid-gutter-width/2 0 10px;
		border-bottom: 1px solid #ddd;
	}
	.city-date {
		.pipe {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}
.events-stack {
	position: relative;
	padding-top: @grid-gutter-width/2;
	padding-bottom: @grid-gutter-width/2;
	@media (min-width: @screen-md-min) {
		max-width: 600px;
		margin: 0 auto;

	}
	.event {
		display: block;
		padding: 10px ;
		border-bottom: 1px solid #ddd;
		position: relative;
		.event-thumb {
			.pull-left;
			margin-right: @grid-gutter-width/2;
			border-radius: 2px;

		}
		a {
			display: block;
			&:hover {
				h4 > i {
					color: @brand-danger;
				}
			}
			.city-date {
				color: #999 !important;
				.pipe {
					.opacity(.4);
				}
			}
			h4, p {
				margin: 0;
			}
			h4 {
				font-size: 1.5em;
				line-height: 1.3em;
				.font-serif-heavy;
				> i {
					color: #ccc;
					margin-left: 4px;
					font-size: 14px;
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -14px;
				}
			}
		}

		p {
			.font-sans;
			color: #999;
			font-size: 14px !important;
		}

		&:first-child {
			margin-top:0;
		}
		
	}
}
// .events-stack {
// 	position: relative;
// 	padding-top: @grid-gutter-width/2;
// 	padding-bottom: @grid-gutter-width/2;
// 	@media (min-width: @screen-sm-min) {
// 		&:after {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			left: 50%;
// 			height: 100%;
// 			width: 1px;
// 			background: #E3E2E4;
// 			top:0;
// 			z-index: 0;
// 		}
// 	}
// 	.event {
// 		display: block;
// 		padding: 20px 30px;
// 		&:before {
// 			content: "";
// 			border: 2px solid #DDD;
// 			width: 16px;
// 			height: 16px;
// 			display: block;
// 			background-color: #fff;
// 			z-index: 1;
// 			left:-8px;
// 			top: 30px;
// 			position: absolute;
// 			border-radius: 16px;
// 		}
// 		@media (min-width: @screen-sm-min) {
// 			margin-bottom: @grid-gutter-width;
// 		}
// 		border-bottom: 1px solid #E3E2E4;
// 		h4, p {
// 			margin: 0;
// 		}
// 		h4 {
// 			font-size: 1.7em;
// 			line-height: 1.3em;
// 			.font-serif-heavy;
			
// 			> a {
// 				> i {
// 					color: #ccc;
// 					margin-left: 4px;
// 					font-size: 14px;
// 				}
// 				&:hover {
// 					> i {
// 						color: @brand-danger;
// 					}
// 				}
// 			}
// 		}
// 		p {
// 			.font-sans;
// 			color: #999;
// 		}
// 		@media (min-width: @screen-sm-min) {
// 			width: 50%;
// 			left: 50%;
// 			position: relative;
// 			margin-top: -80px;
// 		}
// 		&:first-child {
// 			margin-top:0;
// 		}
// 		@media (min-width: @screen-sm-min) {
// 			&:nth-child(even) {
// 				margin-left: -50%;
// 				text-align: right;
// 				&:before {
// 					left: auto;
// 					right: -8px;
// 				}
// 			}
// 		}
// 	}
// }
.speakers {
	.make-row;
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	@media (max-width: @screen-xs-max) {
		padding-left: 10px;
		padding-right: 10px;
		.speaker {
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	@media (min-width: @screen-sm-min) {
		padding-left: @grid-gutter-width;
		padding-right: @grid-gutter-width;
	}
	.speaker {
		
		.make-xs-column(4);
		.make-sm-column(3);
		.make-md-column(2);
		@media (max-width: @screen-xs-max) {
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			&:nth-child(4n+1) {
				clear: both;
			}
		}
		@media (min-width: @screen-md-min) {
			padding-bottom: @grid-gutter-width;

			&:nth-child(6n+1) {
				clear: both;
			}
		}
		.speaker-photo {
			text-align: center;
			img {
				.img-responsive;
				display: inline-block;
			}
		}
		.speaker-info {
			// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
			// 	min-height: 150px;
			// }
			h3 {
				line-height: 1.1em;
				@media (max-width: @screen-sm-max) {
					margin-top: 5px;
					font-size: 16px;
				}
				font-size: 20px;
				a {
					color: inherit;
				}
			}
			p {
				display: none;
			}
			// @media (min-width: @screen-lg-min) {
			// 	min-height: 160px;
			// }
		}
		.btn-default {
			border: 1px solid @gray3;
			.box-shadow(none);
			color: @text-color;
			font-size: 14px;
			.sans-upper;
			margin: 0 auto;
			display: none;
			&:hover {
				border-color: @text-color;
				background-color: transparent;
			}
		}
	}
}

.event-detail {
	background: #fff;
	h2 {
		text-align: center;
	}
	p {
		font-size: 20px;
	}
	.main {
		padding-bottom: 0;
	}
	.container {
		background: transparent;
		&.narrow {

			@media (max-width: @screen-sm-max) {
				max-width: 85%;
			}
			@media (min-width: @screen-md-min) {
				max-width: 767px;
			}
			
			
		}

	}
	#header_wrap {
		.container {
			background-color: transparent;
		}
	}
	.navbar-brand {
		.pull-left;
	}
	.site-header {
		.navbar-default {
			background-color: rgba(255,255,255,.95);
			.box-shadow(0 1px 1px rgba(0,0,0,.2));
			.navbar-nav {
				padding-bottom: 0;
				&.navbar-right {
					margin-right: @grid-gutter-width;
				}
				& > li {
					&.nav-item-logo {
						& > a {
							padding-top: 10px;
							padding-bottom: 0;
						}
					}
					@media (min-width: @screen-md-min) {
						& > a {
							padding-top: 30px;
							padding-bottom: 30px;
						}
					}
				}
			}
		}
	}
	.jumbotron {
		background-color: #333;
		-webkit-background-size: cover !important;
 		-moz-background-size: cover !important;
 		-o-background-size: cover !important;
 		background-size: cover !important;
		color: #fff;
		text-align: center;
		padding: @grid-gutter-width*5 10px @grid-gutter-width*2;
		margin-bottom: 0;
		> div {
			
			@media (max-width: @screen-xs-max) {
				max-width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (max-width: @screen-xs-max) {
			padding-top: @grid-gutter-width*3;
		}
		&:before {
			content: "";
			background-color: rgba(0,0,0,.3);
			height: 100%;
			width: 100%;
			z-index: 1;
			display: block;
		}

		.back {
			position: absolute;
			top: 100px;
			left: 60px;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			.opacity(.7);
			background: rgba(0,0,0,.2);
			display: inline-block;
			padding: 4px 8px;
			border-radius: 2px;
			> i {
				margin-right: 4px;
			}
			&:hover {
				.opacity(1);
			}
			@media (max-width: @screen-xs-max) {
				top: 10px;
				left: 40px;
			}
		}
		.pre-title {
			.font-sans;
			text-transform: uppercase;
			font-weight: 200;
			letter-spacing: 1px;
			line-height: 1;
		}
		h1 {
			font-size: 9em;
			font-weight: 800;
			text-transform: uppercase;
			@media (max-width: @screen-xs-max) {
				font-size: 3.5em;
			}
		}
		.subtitle {
			font-size: 1.8em;
			color: #fff;
			line-height: 1.3em;
			margin-bottom: 1em;
			font-style: italic;
			text-transform: uppercase;
			letter-spacing: 2px;
			@media (max-width: @screen-xs-max) {
				font-size: 1.2em;
			}
		}
		.location {
			.font-serif-heavy;
			font-size: 1.8em;
			font-weight: 400;
		}
		.btn-lg {
			min-width: 300px;
			border: none;
			text-transform: uppercase;
			padding-top: 20px;
			padding-bottom: 20px;
			.font-sans;
			margin-bottom: 0;
			background-color: #0C99D3;
			&:hover {
				color: #fff;
			}
		}
	}
	.section {
		padding-top: @grid-gutter-width;
		padding-bottom: @grid-gutter-width;
		position: relative;
		.section-header.inverse {
			color: #fff;
			h2 {
				color: #fff !important;
				text-shadow: 0 0 60px rgba(0,0,0,.5);
			}
		}
	}
	h2 {
		@media (max-width: @screen-xs-max) {
			font-size: 40px;
		}
		@media (min-width: @screen-sm-min) {
			font-size: 60px;
		}
		border-top: none;
		padding-top: @grid-gutter-width !important;
		padding-bottom: @grid-gutter-width;
	}
	#intro {
		background-color: #f9f9f9;
	}
	#schedule {
		background: url(/img/event-schedule-bg4.jpg) fixed center center no-repeat;
		background-size: cover;
		font-size: 120%;
		
		.lead {
			text-shadow: 0 0 20px rgba(0,0,0,.3);
			// color: #fff;
			// text-shadow: 0 0 3px rgba(0,0,0,.3);
			@media (max-width: @screen-sm-max) {
				padding-right: 20px;
				padding-left: 20px;
			}
			@media (min-width: @screen-md-min) {
				max-width: 960px;
			}
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.container {
			background-color: rgba(255,255,255,.85);
			box-shadow: 0 1px 3px rgba(0,0,0,.3);
			@media (max-width: @screen-xs-max) {
				padding-left: 20px;
				padding-right: 20px;
			}
			@media (min-width: @screen-sm-min) {
				padding: @grid-gutter-width @grid-gutter-width*2 @grid-gutter-width*2;
			}
		}
		h2 {
			text-shadow: 0 0 20px rgba(0,0,0,.3);
		}
		h3 {
			text-transform: uppercase;
			font-weight: 800;
			margin-top: @grid-gutter-width;
		}
		h4 {
			.font-serif-heavy;
		}

		dd {
			font-style: italic;
		}
	}
	#register {
		background-color: #f9f9f9;
		background: url(/img/event-register-bg4.jpg) fixed center center no-repeat;
		background-size: cover;
		margin-bottom: 0;
		.iframe-container {
			border-radius: 5px;
			background: #fff;
			@media (max-width: @screen-xs-max) {
				height: 410px;
			}
			@media (min-width: @screen-md-min) {
				height: 323px;
			}

		}
	}
	footer {
		background-color: #333;
		margin-top:0;
		&.site-footer {
			.container {
				padding-bottom: 40px;
			}
		}
		.social-links {
			border: none;
			padding-top: 0;
			margin-top: 0;
		}
		.legal {
			border: none;
			padding-top:0;
			margin-top: 0;
		}
	}
}

.question {
	margin-bottom: 0;
}
.answer {
	margin-top: 0;
}

#schedule-content {
	p {
		margin-bottom: 0;
	}
}

.marker {
	position: absolute;
	top: -80px;
}
